<!-- dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div style="width: 50%;">
        <canvas id="pie-chart"></canvas>
    </div>
    <div style="width: 50%;">
        <canvas id="bar-chart"></canvas>
    </div>

    <script>
        // PIE Chart
        var pieData = {
            labels: [{% for asset_count in asset_type_counts %}"{{ asset_count.asset_type__name }}", {% endfor %}],
            datasets: [{
                data: [{% for asset_count in asset_type_counts %}{{ asset_count.total }}, {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153, 102, 255, 0.6)'
                ]
            }]
        };

        var pieChart = new Chart(document.getElementById('pie-chart'), {
            type: 'pie',
            data: pieData
        });

        // BAR Chart
        var barData = {
            labels: ['Active', 'Inactive'],
            datasets: [{
                label: 'Assets',
                data: [{% for status_count in active_inactive_counts %}{{ status_count.total }}, {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                ]
            }]
        };

        var barChart = new Chart(document.getElementById('bar-chart'), {
            type: 'bar',
            data: barData
        });
    </script>
</body>
</html>
